*{
	box-sizing: border-box;
}

body{
	background-image: url(fondo.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	font-family: sans-serif;
}

h1{
	color: #000;
	text-align: center;

}

form{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: rgba(0,0,0,.4);
	border-radius: 7px;
}

#titulo{
	background: #4EF841;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid yellow;
}

#formulario{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
}

.input{
	width: 100%;
}

input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}

.boton{
	background: #747873;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
}

.boton:active{
	transform: scale(1.05);
}

p{
	width: 100%;
	margin: 7;
	font-size: 15px;
	text-align: center;
}